<div id="forgot-v2-form">

  <div class="title">
    Forgot your password ?
  </div>
  <div class="description">
    Reset your password here.
  </div>

  <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">

    <mat-input-container>
      <input matInput type="text" placeholder="Your email" formControlName="email" autocomplete="off">
      <mat-hint class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
        Email required!
      </mat-hint>
      <mat-hint class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
        Email incorrect!
      </mat-hint>
    </mat-input-container>

    <button mat-raised-button [disabled]="!user.valid || submitted" color="accent" type="submit" class="submit-button">
      Reset my password.
    </button>
  </form>

  <div class="link" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center">
    <a routerLink="/login" class="link">
      Back to login
    </a>
  </div>

  <!--<div class="spinner">-->
  <!--<fa [name]="'circle-o-notch'" [size]=4 [spin]=true *ngIf="loading"></fa>-->
  <!--</div>-->

</div>
