<h2>Товар Id: {{product.id}}</h2>

<div class="row">
  <div class="col s1" >
    <div class="card">
      <div class="card-image">
        <img src="{{product.image}}">
        <span class="card-title"
        >
          {{product.color}}
      </span>
      </div>
      <div class="card-content">
        <ul>
          <li type="none">Тип продукта:<span>{{product.typeOfClothes}}</span></li>
          <li type="none">Материал:<span>{{product.material}}</span></li>
          <li type="none">Размер:<span>{{[product.size]}}</span></li>
          <li type="none">Дата изменения:<span>{{product.dateOfLastChange  | date: 'dd.MM.yyyy HH:mm'}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

