<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Main Page</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/login">SingIn</a></li>
      <li><a routerLink="/product">Products</a></li>
      <li><a routerLink="/customer">Customers</a></li>
      <li><a routerLink="/invoice">Invoices</a></li>
      <li><a routerLink="/product/table">Table Products</a></li>
      <li><a routerLink="/customer/table">Table Customers</a></li>
      <li><a routerLink="/invoice/table">Table Invoices</a></li>
      <li><a routerLink="/file/upload">Upload File</a></li>
    </ul>
  </div>
</nav>
<div class="NameStore">
  <h1 style="margin-left: 500px; opacity: 0.6;
 	 background: #fc0;">Administrator panel for mini store</h1>
</div>

<div class="main-container">
  <app-home-page></app-home-page>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/customer">Clients</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/product/">Products</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/invoice">Orders</a></li>
          <li><a class="grey-text text-lighten-3" href="">help</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
