<div id="login-v2-form">

  <div translation class="title">
    Authentication Portal
  </div>

  <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">

    <div formGroupName="account">

      <mat-input-container>
        <input translation matInput type="text" placeholder="Your login" formControlName="username" autocomplete="off">
        <mat-hint translation class="error"
                  *ngIf="user.get('account.username').hasError('required') && user.get('account.username').touched">
          Login required!
        </mat-hint>
        <mat-hint translation class="error"
                  *ngIf="user.get('account.username').hasError('pattern') && user.get('account.username').touched">
          Login incorrect!
        </mat-hint>
      </mat-input-container>

      <mat-input-container>
        <input translation matInput
               type="password" placeholder="Your password" formControlName="password" autocomplete="off">
        <mat-hint translation class="error"
                  *ngIf="user.get('account.password').hasError('required') && user.get('account.password').touched">
          Password required!
        </mat-hint>
      </mat-input-container>

      <div class="row">
        <div class="col-6">
          <a translation [routerLink]="['/forgot-password']"
             color="accent" class="forgot-password">Forgot your password?</a>
        </div>
        <div class="col-2">
          <a translation [routerLink]="['/registration']"
             color="accent" class="registration">Registration</a>
        </div>
      </div>
    </div>

    <button translation mat-raised-button

            color="accent" type="submit" class="submit-button">LOG IN
    </button>
    <!--[disabled]="user.valid || submitted"-->
  </form>
</div>
